<div class="chat-container">
    <div class="chat-card-container">
        <h1>Comming Soon</h1>
        <img id="chat-img" src="../images/chatbeers.jpeg" alt="Chat Comming Soon">
    </div>
</div>

<div class="chat-feature">
<div class="chat-screen">
    <p>Here you will see the conversation</p>
</div>

<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" />
    <button>Send</button>
</form>
</div>