{{!-- <h1>Cocktail Party!</h1> --}}

<div class="home">

<section class="home-image"> {{!-- carroussel bootstrap --}}
    <img src="/images/cocktail-party.png" alt="Cocktail Party">
</section>

<section class="destacados">
    <div class="destacados-title">
        <h3>DESTACADOS</h3>
        <p>Los cocktails más populares del momento</p>
    </div>
    <div class="destacados-cocktails">{{!-- poner enlaces a cocktail-detail y lógica --}}
        <div class="cocktail-1">
            <a href="#"></a><img src="/images/margarita.jpg" alt="Margarita">
            <p>Margarita</p>
        </div>
        <div class="cocktail-2">
            <img src="/images/mojito.jpg" alt="Mojito">
            <p>Mojito</p>
        </div>
        <div class="cocktail-3">
            <img src="/images/caipirinha.jpg" alt="Caipirinha">
            <p>Caipirinha</p>
        </div>
        <div class="cocktail-4">
            <img src="/images/pina-colada.jpg" alt="Piña Colada">
            <p>Piña Colada</p>
        </div>
    </div>
</section>

<section class="novedades">
    <div class="novedades-title">
        <h3>NOVEDADES</h3>
        <p>Descubre las últimas creaciones de los usuarios</p>
    </div>
    <div class="novedades-cocktails">
        <div class="cocktail-1">
            <img src="/images/banana-strawberry-shake.jpg" alt="Banana Strawberry Shake">
            <p>Banana Strawberry Shake</p>
        </div>
        <div class="cocktail-2">
            <img src="/images/hot-chocolate-to-die-for.jpg" alt="Hot Chocolate to Die for">
            <p>Hot Chocolate to Die for</p>
        </div>
        <div class="cocktail-3">
            <img src="/images/mimosa.jpg" alt="Mimosa">
            <p>Mimosa</p>
        </div>
        <div class="cocktail-4">
            <img src="/images/moscow-mule.jpg" alt="Moscow Mule">
            <p>Moscow Mule</p>
        </div>
    </div>
</section>

<section class="comparte">
    <div class="comparte-title">
        <h3>COMPARTE TUS CREACIONES</h3>
        <p>Publica tus cócteles y conoce a los demás creadores</p>
    </div>
    <div class="comparte-cocktails">
        <div class="icon">
            <img src="/images/registra.png" alt="registra">
            <p>Registrate</p>
        </div>
        <div class="icon">
            <img src="/images/completa.png" alt="completa">
            <p>Completa tu perfil</p>
        </div>
        <div class="icon">
            <img src="/images/crea.png" alt="crea">
            <p>Crea tu cocktail</p>
        </div>
        <div class="icon">
            <img src="/images/publica.png" alt="publica">
            <p>Publícalo en Cocktail Party!</p>
        </div>
    </div>
    <div class="button">
        <a href="/auth/signup">Empieza ahora</a>
    </div>
</section>

<section class="footer">
    <div>
        <p>Desarrollado por Santi&Moni en Ironhack</p>
    </div>
</section>

</div>