<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cocktail Party</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav>
<ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cocktails">Cocktails</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cocktails/:id">Cocktail Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Log in</a>
            </li><li class="nav-item">
                <a class="nav-link" href="/auth/signup">Signup</a>
            </li>
            </li><li class="nav-item">
                <form action="/auth/logout" method="POST">
                <button class="nav-item" type="submit">Log out</button>
                </form>
            </li>
        </ul>
</nav>
<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>