<div class="form">
        <h2>Sign Up</h2>
        <form class ="form" action="/auth/signup" method="POST">
            <label class="label" for="email">Email</label>
            <input class="input" type="email" name="email" id="email" placeholder="Enter your email here" required>
            <label class="label" for="password">Password</label>
            <input class="input" class="input" type="password" name="password" id="password" placeholder="Choose a password" required>
            <button type="submit">Signup</button>
            {{#if error}}
            <p class="error-message">{{error}}</p>
            {{/if}}
        </form>
</div>