<h1>Welcome to your personal space</h1>

<p>{{username}}</p>
<img src="{{userImage}}" alt="User Image">
<p>{{email}}</p>

<a href="/cocktails/create-cocktail">Create Cocktail</a>
{{!-- foto

Username default

about

favorites cocktails --> foreach

mycocktails --}}
