@font-face {
  font-family: 'billabong';
  src: url("/fonts/Billabong.ttf");
}

body {
  background-color: #222831;
  color: #eb596e;
  font-family: 'Mukta', sans-serif;
}

.footer {
  background-color: black;
  font-size: 0.75rem;
  color: #c1c1c1;
  text-align: center;
}

/*NAVBAR*/
.navbar {
  font-family: 'Mukta', sans-serif;
  background-color: #313945;
}

.navbar #logo {
  margin-left: 10px;
  margin-right: 15px;
}

.navbar #app-title {
  font-family: 'billabong';
  font-size: 1.7rem;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #eb596e;
  text-decoration: underline;
}

.navbar #text-home:hover {
  color: #eb596e;
}

.navbar #text-cocktails:hover {
  color: #eb596e;
}

.navbar #text-bartender:hover {
  color: #eb596e;
}

.navbar #text-logout:hover {
  color: #eb596e;
}

.navbar #text-login:hover {
  color: #eb596e;
}

.navbar .nav-item {
  border: none;
  text-decoration: none;
  background-color: #313945;
  color: white;
  padding-top: 7px;
}

.navbar #signup {
  border: 2px white solid;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.navbar #signup:hover {
  border: 2px #eb596e solid;
  text-decoration: none;
  border-radius: 25px;
  color: #eb596e;
}

@media (min-width: 1000px) {
  .navbar {
    font-size: 1.3rem;
  }
  .navbar .navbar-brand {
    margin-left: 7rem;
    padding: 0px;
  }
  .navbar #app-title {
    font-size: 2rem;
  }
  .navbar #logo {
    margin-top: 1px;
    margin-right: 1.5rem;
    width: 10%;
    height: 10%;
  }
}

.footer {
  padding: 15px;
  font-size: 15px;
}

/*INDEX.HBS*/
#home {
  background-color: #222831;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  background-color: #222831;
  color: #fff;
  /*Section home-image*/
  /*Section destacados + novedades*/
  /*Section comparte*/
  /*Button*/
}

#home .home-image img {
  width: 97vw;
}

#home .destacados, #home .novedades, #home .comparte {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#home .destacados-title, #home .novedades-title, #home .comparte-title {
  text-align: center;
}

#home .destacados-title p, #home .novedades-title p, #home .comparte-title p {
  font-style: italic;
}

#home .destacados-cocktails, #home .comparte-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#home .destacados-cocktails img {
  width: 200px;
  border-radius: 50%;
}

#home .destacados-cocktails p, #home .novedades-cocktails p, #home .icon p {
  text-align: center;
}

#home .cocktail-name-home {
  padding-top: 10px;
}

#home .icon {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 82px;
}

#home .icon p {
  font-size: 0.8rem;
  margin: 10px 0px;
  width: 20vw;
}

#home .icon img {
  width: 20vh;
}

#home .button {
  margin: 20px auto 80px;
}

#home .button a {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}

#home .button:hover a {
  text-decoration: none;
  background-color: white;
  color: #EB596E;
  transition-duration: 0.4s;
}

@media (min-width: 1000px) {
  #home .home-card {
    padding: 50px 200px;
  }
  #home .carousel-item {
    width: 70vw;
  }
  #home .home-card {
    font-size: 20px;
  }
  #home .novedades-cocktails {
    display: flex;
    padding: 0px 50px;
  }
  #home .comparte-icons {
    display: flex;
    padding: 0px -30px;
  }
}

/*COCKTAILS.HBS*/
#all-cocktails {
  background-color: #222831;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
}

#all-cocktails .cocktail-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 20px;
  background-color: #2b323b;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#all-cocktails .title {
  color: #eb596e;
  margin: 0px 10px 0px 10px;
  text-align: center;
  font-size: 25px;
}

#all-cocktails .cocktail-title {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin: 30px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
}

#all-cocktails .cocktails-view-images {
  align-self: center;
  max-width: 80%;
  border-radius: 10em;
  margin: 30px;
}

#all-cocktails .short-description {
  font-size: 16px;
  text-align: center;
  padding: 0px 70px 0px 70px;
}

#all-cocktails .cocktail-link {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}

#all-cocktails .cocktail-link:hover {
  text-decoration: none;
  background-color: white;
  color: #EB596E;
  transition-duration: 0.4s;
}

@media (min-width: 1000px) {
  #all-cocktails #all-cocktails {
    margin-bottom: 30px;
    background-color: red;
  }
  #all-cocktails .cocktail-card {
    margin: 20px 20vw;
    margin-bottom: 0px;
  }
  #all-cocktails .cocktail-card .cocktails-view-images {
    width: 30vw;
  }
}

/*COCKTAIL-DETAIL.HBS*/
#cocktail-detail {
  background-color: #222831;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

#cocktail-detail .cocktail-detail-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 20px;
  background-color: #2b323b;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#cocktail-detail .cocktail-image-container {
  align-self: center;
}

#cocktail-detail .cocktail-image {
  width: 90vw;
  border-radius: 50%;
  padding: 0px 20px;
}

#cocktail-detail .right-card {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

#cocktail-detail .cocktail-title {
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin: 30px 0px;
}

#cocktail-detail .cocktail-description h4 {
  font-weight: 500;
  color: #EB596E;
  padding-bottom: 10px;
}

#cocktail-detail .ingredients-measures-list {
  display: flex;
  justify-content: space-evenly;
}

#cocktail-detail .cocktail-buttons {
  display: flex;
  justify-content: space-around;
}

#cocktail-detail .cocktail-buttons button {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}

#cocktail-detail .cocktail-buttons button:hover {
  text-decoration: none;
  background-color: white;
  color: #EB596E;
  transition-duration: 0.4s;
}

#cocktail-detail .add-to-favs-container {
  padding-top: 15px;
  margin-bottom: 1.5rem;
}

#cocktail-detail #add-to-favs {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}

@media (min-width: 1000px) {
  #cocktail-detail .cocktail-detail-card {
    margin: 20px 20vw;
  }
  #cocktail-detail .cocktail-image {
    width: 30vw;
  }
  #cocktail-detail .right-card {
    margin: 20px 90px;
  }
}

/*EDIT-COCKTAIL.HBS (PARTIAL)*/
.form {
  background-color: #222831;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  display: flex;
  flex-direction: column;
}

.form .form-title {
  text-align: center;
  padding: 20px 0px 20px 0px;
  color: #eb596e;
}

.form .create-edit-title {
  padding-top: 1rem;
  text-align: center;
  color: #EB596E;
}

.form .update-edit-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 20px;
  background-color: #2b323b;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.form .ingredients-measures {
  display: flex;
  flex-direction: column;
}

.form .label {
  text-align: center;
}

.form .input {
  background-color: #f8f1f1;
  margin-bottom: 1.5rem;
  width: 70vw;
  align-self: center;
  border-radius: 7px;
  padding: 0.5rem 0.5rem;
}

.form .form button {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}

.form .form button:hover {
  text-decoration: none;
  background-color: white;
  color: #EB596E;
  transition-duration: 0.4s;
}

@media (min-width: 1000px) {
  .form .update-edit-form {
    margin: 0 20vw;
  }
  .form .input {
    width: 40vw;
  }
}

/*USER-PROFILE*/
#user-profile {
  background-color: #222831;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  padding-bottom: 1.5rem;
}

#user-profile .user-profile-title {
  padding-top: 1rem;
  text-align: center;
  color: #EB596E;
  font-size: 25px;
  padding: 35px 0px 10px 0px;
}

#user-profile .user-text {
  display: flex;
  flex-direction: column;
}

#user-profile .user-title {
  padding-top: 10px;
}

#user-profile .user-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 20px;
  background-color: #2b323b;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#user-profile .user-image {
  width: 200px;
  border-radius: 50%;
  margin-top: 15px;
}

#user-profile .email, #user-profile .phone {
  font-size: 1rem;
  margin-top: 5px;
}

#user-profile .phone {
  margin-top: -18px;
}

#user-profile .about-title {
  padding: 7px;
}

#user-profile .address-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#user-profile .address-title-container {
  align-self: center;
  text-align: center;
}

#user-profile .address-map-container {
  margin: 0 auto;
  text-align: center;
}

#user-profile .address-map-container iframe {
  width: 80%;
  border-radius: 4px;
}

#user-profile .address-title-container {
  width: 12rem;
  padding: 0px 10px;
}

#user-profile .cocktail-name {
  padding-top: 10px;
  text-align: center;
}

#user-profile .buttons-container {
  margin: 30px;
  display: flex;
}

#user-profile .button {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 10px;
}

#user-profile .button:hover {
  text-decoration: none;
  background-color: white;
  color: #EB596E;
  transition-duration: 0.4s;
}

#user-profile #my-cocktail-images {
  width: 200px;
  border-radius: 50%;
}

@media (min-width: 1000px) {
  #user-profile .user-card {
    margin: 20px 20vw;
  }
  #user-profile .address-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px;
  }
  #user-profile .my-cocktails-container {
    display: flex;
    margin: 10px;
  }
  #user-profile .my-cocktails-container img {
    padding: 0px 20px;
  }
  #user-profile .my-cocktails-container p {
    display: none;
  }
}

/*USER PROFILE FORM*/
#user-profile-form {
  background-color: #222831;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  display: none;
  /*NO SE APLICA ESTILO EN MY COCKTAILS CREATIONS*/
}

#user-profile-form .user-profile-form-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 20px;
  background-color: #2b323b;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#user-profile-form .user-profile-form-card .input {
  background-color: #f8f1f1;
  margin-bottom: 1.5rem;
  width: 70vw;
  align-self: center;
  border-radius: 7px;
  padding: 0.5rem 0.5rem;
}

#user-profile-form button {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}

#user-profile-form button:hover {
  text-decoration: none;
  background-color: white;
  color: #EB596E;
  transition-duration: 0.4s;
}

#user-profile-form .my-cocktails-container {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid red;
}

#user-profile-form #my-cocktail-images {
  width: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
}

@media (min-width: 1000px) {
  #user-profile-form .user-profile-form-card {
    margin: 20px 20vw;
    margin-top: 20px;
  }
  #user-profile-form .user-profile-form-card .input {
    width: 30vw;
  }
}

/*SIGNUP - LOGIN*/
.form .form-title {
  margin-top: 2rem;
}

.form .error-message {
  color: #D21F3C;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.form .redirect-message {
  color: #fff;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1000px) {
  .form .form {
    height: 100vh;
  }
  .form .form-title {
    margin-top: 60px;
    margin-bottom: -10px;
  }
}

/*USER PROFILE PUBLIC*/
.chat-button {
  align-self: center;
  text-decoration: none;
  background-color: #EB596E;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}

.chat-button:hover {
  text-decoration: none;
  background-color: white;
  color: #EB596E;
  transition-duration: 0.4s;
}

.my-cocktails-container p {
  text-align: center;
}

/*CHAT*/
.chat-container {
  background-color: #222831;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  padding: 1.5rem 0;
  height: 85vh;
  display: flex;
  align-items: center;
}

.chat-container .chat-card-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 20px;
  background-color: #2b323b;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.chat-container .chat-card-container h1 {
  padding-top: 1rem;
  text-align: center;
  color: #EB596E;
}

.chat-container .chat-card-container img {
  width: 80vw;
}

@media (min-width: 1000px) {
  .chat-container .chat-card-container {
    margin: 0 auto;
  }
  .chat-container .chat-card-container #chat-img {
    width: 90vh;
  }
}
