@import 'variables';
@import 'mixins';

body { //no funciona
    background-color: #222831;
    color: $text-color
}
.footer {
    @include footer
}

/*INDEX.HBS*/
#home {
    background-color: $background-color;
    color: $text-color;

    /*Section home-image*/
    .home-image img { 
        width: 97vw;
    }

    /*Section destacados + novedades*/
    .destacados, .novedades, .comparte {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .destacados-title, .novedades-title, .comparte-title {
        text-align: center;
    }
    .destacados-title p, .novedades-title p, .comparte-title p {
        font-style: italic;
    }
    .destacados-cocktails, .comparte-icons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .destacados-cocktails img {
        width: 200px;
        border-radius: 50%;
    }
    .destacados-cocktails p, .novedades-cocktails p, .icon p {
        text-align: center;
    }

    /*Section comparte*/
    .icon {
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 82px;
    }
    .icon p {
        font-size: 0.8rem;
        margin: 10px 0px;
        width: 20vw;
    }
    .icon img {
        width: 20vh;
    }

    /*Button*/
    .button {
        margin: 20px auto 80px;
    }
    .button a {
        @include button
    }
    .button:hover a {
        @include button-hover
    }

}

/*COCKTAILS.HBS*/
#all-cocktails {
    @include default-settings;
    .cocktail-card {
        @include card;
    }
    .title {
        color: #EB596E;
        margin: 10px 10px;
        text-align: center;
        /*border-bottom: #EB596E 2px solid;*/
    }
    .cocktail-title{
        font-size: 28px;
        font-weight: 900;
        text-align: center;
        margin: 30px 0px 0px 0px;
        /*text-decoration: underline;*/
    }
    .cocktails-view-images {
        align-self: center;
        max-width: 80%;
        border-radius: 10em;
        margin: 30px;
    }
    .short-description{
        font-size: 14px;
        text-align: center;
    }
    .cocktail-link{
        @include button
    }
    .cocktail-link:hover{
        @include button-hover
    }
}

/*COCKTAIL-DETAIL.HBS*/
#cocktail-detail {
    @include default-settings;
        display: flex;
        flex-direction: column;
    .cocktail-detail-card {
        @include card
    }
    .cocktail-image-container {
        align-self: center;
        
    }
    .cocktail-image {
        width: 90vw;
        border-radius: 50%;
        padding: 0px 20px;
    }
    .right-card {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        padding: 0px 10px;
    }
    .cocktail-title {
        font-size: 2.25rem;
        font-weight: 900;
        text-align: center;
        margin: 30px 0px;
    } 
    .cocktail-description h4 {
        font-weight:900;
    }
    .ingredients-measures-list {
        display: flex;
        justify-content: space-around;
    }
    .cocktail-buttons{
        display: flex;
        justify-content: space-around;
    }
    .cocktail-buttons button {
        @include button;
    }
    .cocktail-buttons button:hover {
        @include button-hover
    }

    @media (min-width:1000px) {
        .cocktail-detail-card {
            @include media-query-card;
        }
    }
}

/*EDIT-COCKTAIL.HBS (PARTIAL)*/
.form {
    @include default-settings;
        display: flex;
        flex-direction: column;
    .create-edit-title {
        @include title;
    }
    .update-edit-form{
        @include card;
    }
    .ingredients-measures {
        display: flex;
        flex-direction: column;
    }
    .label {
        text-align: center;
    }
    .input {
        background-color: #f8f1f1;
        margin-bottom: 1.5rem;
        width: 70vw;
        align-self: center;
        border-radius: 7px;
        padding: 0.5rem 0.5rem;
    }
    .form button {
        @include button
    }
    .form button:hover {
        @include button-hover
    }

    @media (min-width: 1000px) {
        .update-edit-form {
            margin: 0 20vw;
        }
        .input {
            width: 40vw;
        }
    }
}

/*USER-PROFILE*/
#user-profile{
    @include default-settings;
    padding-bottom: 1.5rem;
    .user-profile-title {
        @include title
    }
    .user-card {
        @include card;
    }
    .user-image {
        width: 200px;
        border-radius: 50%;
    }
    .email, .phone{
        font-size: 0.8rem;
        margin-top: -10px;
    }
    .phone {
        margin-top: -18px;
    }

    .address-container {
        display: flex;
        margin-bottom: 30px;
    }
    .address-title-container, .address-map-container {
        width: 60%;
        align-self: center;
        text-align: center;
    }
    .address-title-container {
        width: 12rem;
        padding: 0px 10px;
    }

    .buttons-container {
        margin: 30px;
    }
    .button {
        @include button;
        margin: 0px 10px;
    }
    .button:hover {
        @include button-hover
    }


    @media (min-width: 1000px) {
        .user-card {
            @include media-query-card;
        }
    }

}

/*USER PROFILE FORM*/
#user-profile-form{
    @include default-settings;
    display: none;
    .user-profile-form-card {
        @include card;
        .input {
            background-color: #f8f1f1;
            margin-bottom: 1.5rem;
            width: 70vw;
            align-self: center;
            border-radius: 7px;
            padding: 0.5rem 0.5rem;
        }
    }
    button {
        @include button;
    }
    button:hover{
        @include button-hover;
    }

    /*NO SE APLICA ESTILO EN MY COCKTAILS CREATIONS*/
    .my-cocktails-container {
        display: flex;
        flex-direction: column-reverse;
        border: 2px solid red;
    }
    #my-cocktail-images {
        width: 200px;
        border-radius: 50%;
        border: 2px solid yellow;
    }


    @media (min-width: 1000px) {
        .user-profile-form-card {
            @include media-query-card;
            margin-top: 20px;
            .input {
                width: 30vw;
            }
        }
    }
}

.form {
    .error-message {
    color: red;
    justify-content: center;
    text-align: center;
    }
}