@import 'variables';
@import 'mixins';

body { //no funciona
    background-color: #222831;
    color: $text-color;
    font-family: 'Mukta', sans-serif;
}
.footer {
    @include footer;
}

.nav {
    @include default-settings;
    background-color: #313945;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px 10px 0px;
    font-size: 16px;
    font-weight: 500;
    .nav-link{
        color: white
    }
    .nav-link:hover{
        color: #eb596e;
        text-decoration: underline;
    }
    .nav-item{
        border: none;
        text-decoration: none;
        background-color: #313945;
        color: white;
        padding-top: 7px;
    }
    #signup {
        border: 2px white solid;
        border-radius: 25px;
        padding: 5px 10px 5px 10px;
    }
    #signup:hover {
        border: 2px #eb596e solid;
        text-decoration: none;
        border-radius: 25px;
    }
    @media (min-width:1000px){
        font-size: 1.3rem;
    }
}

.footer{
    padding: 15px;
    font-size: 15px;
}
/*INDEX.HBS*/
#home {
    @include default-settings;
    background-color: $background-color;
    color: $text-color;

    /*Section home-image*/
    .home-image img { 
        width: 97vw;
    }

    /*Section destacados + novedades*/
    .destacados, .novedades, .comparte {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .destacados-title, .novedades-title, .comparte-title {
        text-align: center;
    }
    .destacados-title p, .novedades-title p, .comparte-title p {
        font-style: italic;
    }
    .destacados-cocktails, .comparte-icons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .destacados-cocktails img {
        width: 200px;
        border-radius: 50%;
    }
    .destacados-cocktails p, .novedades-cocktails p, .icon p {
        text-align: center;
    }
    .cocktail-name-home{
        padding-top: 10px;
    }
    /*Section comparte*/
    .icon {
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 82px;
    }
    .icon p {
        font-size: 0.8rem;
        margin: 10px 0px;
        width: 20vw;
    }
    .icon img {
        width: 20vh;
    }

    /*Button*/
    .button {
        margin: 20px auto 80px;
    }
    .button a {
        @include button
    }
    .button:hover a {
        @include button-hover
    }

    @media (min-width:1000px) {
        .home-card {
            padding: 50px 200px;
        }
        .carousel-item {
            width: 70vw;
        }
        .home-card {
            font-size: 20px;
        }
        .novedades-cocktails {
            display: flex;
            padding: 0px 50px;
        }
        .comparte-icons {
            display: flex;
            padding: 0px -30px;
        }
    }

}

/*COCKTAILS.HBS*/
#all-cocktails {
    @include default-settings;
    padding-top: 20px;
    padding-bottom: 30px;
    .cocktail-card {
        @include card;
    }
    .title {
        color: #eb596e;
        margin: 0px 10px 0px 10px;
        text-align: center;
        font-size: 25px;
    }
    .cocktail-title{
        font-size: 28px;
        font-weight: 900;
        text-align: center;
        margin: 30px 0px 0px 0px;
        padding: 20px 0px 20px 0px;
    }
    .cocktails-view-images {
        align-self: center;
        max-width: 80%;
        border-radius: 10em;
        margin: 30px;
    }
    .short-description{
        font-size: 16px;
        text-align: center;
        padding: 0px 70px 0px 70px;
    }
    .cocktail-link{
        @include button
    }
    .cocktail-link:hover{
        @include button-hover
    }

    @media (min-width:1000px) {
        #all-cocktails {
            margin-bottom: 30px;
            background-color:red;
        }
        .cocktail-card {
            @include media-query-card;
            margin-bottom: 0px;
            .cocktails-view-images {
                width: 30vw;
            }
        }
    }
}

/*COCKTAIL-DETAIL.HBS*/
#cocktail-detail {
    @include default-settings;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    .cocktail-detail-card {
        @include card
    }
    .cocktail-image-container {
        align-self: center;
    }
    .cocktail-image {
        width: 90vw;
        border-radius: 50%;
        padding: 0px 20px;
    }
    .right-card {
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
    }
    .cocktail-title {
        color: white;
        font-size: 2.2rem;
        font-weight: 600;
        text-align: center;
        margin: 30px 0px;
    } 
    .cocktail-description h4 {
        font-weight:500;
        color: #EB596E;
        padding-bottom: 10px;
    }
    .ingredients-measures-list {
        display: flex;
        justify-content: space-evenly;
    }
    .cocktail-buttons{
        display: flex;
        justify-content: space-around;
    }
    .cocktail-buttons button {
        @include button;
    }
    .cocktail-buttons button:hover {
        @include button-hover
    }
    .add-to-favs-container {
        padding-top: 15px;
        margin-bottom: 1.5rem; 
    }
    #add-to-favs {
        @include button;
    }

    @media (min-width:1000px) {
        .cocktail-detail-card {
            @include media-query-card;
        }
        .cocktail-image {
            width: 30vw;
        }
        .right-card {
            margin: 20px 90px;
        }
    }
}

/*EDIT-COCKTAIL.HBS (PARTIAL)*/
.form {
    @include default-settings;
        display: flex;
        flex-direction: column;
    .form-title{
        text-align: center;
        padding: 20px 0px 20px 0px;
        color:#eb596e
    }
    .create-edit-title {
        @include title;
    }
    .update-edit-form{
        @include card;
    }
    .ingredients-measures {
        display: flex;
        flex-direction: column;
    }
    .label {
        text-align: center;
    }
    .input {
        background-color: #f8f1f1;
        margin-bottom: 1.5rem;
        width: 70vw;
        align-self: center;
        border-radius: 7px;
        padding: 0.5rem 0.5rem;
    }
    .form button {
        @include button
    }
    .form button:hover {
        @include button-hover
    }

    @media (min-width: 1000px) {
        .update-edit-form {
            margin: 0 20vw;
        }
        .input {
            width: 40vw;
        }
    }
}

/*USER-PROFILE*/
#user-profile{
    @include default-settings;
    padding-bottom: 1.5rem;
    .user-profile-title {
        @include title;
        font-size: 25px;
        padding: 35px 0px 10px 0px;
    }
    .user-text{
        display: flex;
        flex-direction: column;
    }
    .user-title{
        padding-top: 10px;
    }
    .user-card {
        @include card;
    }
    .user-image {
        width: 200px;
        border-radius: 50%;
        margin-top: 15px;
    }
    .email, .phone{
        font-size: 1rem;
        margin-top: 5px;
    }
    .phone {
        margin-top: -18px;
    }
    .about-title{
        padding: 7px;
    }
    .address-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .address-title-container {
        align-self: center;
        text-align: center;
    }
    .address-map-container {
        margin: 0 auto;
        text-align: center;
    }
    .address-map-container iframe{
        width: 80%;
        border-radius: 4px;
    }
    .address-title-container {
        width: 12rem;
        padding: 0px 10px;
    }
    .cocktail-name{
        padding-top: 10px;
        text-align: center;
    }
    .buttons-container {
        margin: 30px;
        display: flex;
    }
    .button {
        @include button;
        margin: 0px 10px;
    }
    .button:hover {
        @include button-hover
    }
    #my-cocktail-images{
        width: 200px;
        border-radius: 50%;
    }


    @media (min-width: 1000px) {
        .user-card {
            @include media-query-card;
        }
        .address-container {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 30px;
        }
        .my-cocktails-container {
            display: flex;
            margin: 10px;
        }
        .my-cocktails-container img {
            padding: 0px 20px;
        }
        .my-cocktails-container p {
            display: none;
        }
    }

}

/*USER PROFILE FORM*/
#user-profile-form{
    @include default-settings;
    display: none;
    .user-profile-form-card {
        @include card;
        .input {
            background-color: #f8f1f1;
            margin-bottom: 1.5rem;
            width: 70vw;
            align-self: center;
            border-radius: 7px;
            padding: 0.5rem 0.5rem;
        }
    }
    button {
        @include button;
    }
    button:hover{
        @include button-hover;
    }

    /*NO SE APLICA ESTILO EN MY COCKTAILS CREATIONS*/
    .my-cocktails-container {
        display: flex;
        flex-direction: column-reverse;
        border: 2px solid red;
    }
    #my-cocktail-images {
        width: 200px;
        border-radius: 50%;
        border: 2px solid yellow;
    }


    @media (min-width: 1000px) {
        .user-profile-form-card {
            @include media-query-card;
            margin-top: 20px;
            .input {
                width: 30vw;
            }
        }
    }
}

.form {
    .error-message {
    color: #D21F3C;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    }
}

/*USER PROFILE PUBLIC*/
.chat-button {
    @include button
}
.chat-button:hover {
    @include button-hover
}
.my-cocktails-container p {
    text-align: center;
}

/*CHAT*/
.chat-container {
    @include default-settings;
    padding: 1.5rem 0;
    height: 90vh;
    display: flex;
    align-items: center;
    .chat-card-container {
        @include card;
        
        h1 {
            @include title
        }
        img {
            width: 80vw;
        }
    }

    @media (min-width: 1000px) {
        .chat-card-container {
            margin: 0 auto;    
                #chat-img {
                    width: 90vh;
                }
        }
    }
}